body
{
	position: absolute;
	top: 0px;
	font-family: 'Impact',Impact;
	background-color: gray;
	color: white;
	cursor: url("curseur.cur");
}
a:link
{
	text-decoration:none;
}
#bloc_page
{
	width: 1600px;
	margin-left: 0px;

}
#image_principale
{
	margin-left: 175px;
	position: absolute;
	top: 15px;

}
#logo
{
	margin-top: 10px;
	margin-left: 10px;
}
#logo:hover
{
	margin-top: 10px;
	margin-left: 10px;
	
}
aside
{
	font-size: 17px;
	margin-left: 1250px;
	margin-left: 1250px;
	width: 220px;
	position: absolute;
	top: 230px;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 1.5px blue;
	text-align: center;
}
header
{
	margin-left: 0px;
	width: 1560px;
	background-color: blue;
	border: 10px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 1.5px blue;
}
.high_text
{
	margin-left: 70px;
	margin-top: 10px;
	text-shadow: 5px 5px 1.5px gray;
	opacity: 0.7;
}
.high_text:hover
{
	opacity: 1;
}
#facebook
{
	margin-left: 10px;
	width: 100px;
	text-shadow: 5px 5px 1.5px gray;
	opacity: 0.7;
}
#facebook:hover
{
	margin-left: 10px;
	width: 100px;
	text-shadow: 5px 5px 1.5px gray;
	opacity: 1;
}
section
{
	margin-top: 50px;
	margin-left: 10px;
}
.video
{
	border: 5px solid black;
	width: 1200px;
	border-radius: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 1.5px blue;
	margin-top: 20px;
}
#imageyoutube
{
	margin-left: 1460px;
	position: absolute;
	top: 20px;
	
}
#youtubetext
{
	width: 100px;
	margin-left: 1450px;
	position: absolute;
	top:  95px;
	text-shadow: -1px 5px 1.5px gray;
	opacity: 0.7;
	
}
#youtubetext:hover
{
	opacity: 1;
}
#categorie
{
	position: absolute;
	top: 354px;
	left: 80px;
	
}
.small_banniere
{
	text-align: center;
	font-size: 20px;
	border: 4px solid black;
	border-radius: 10px / 20px;
	width: 1100px;
	background-color: blue;
	margin-left: 20px;
	margin-top: 10px;
	box-shadow: 5px 5px 1.5px black;
}
a
{
	color: white;
}
h2
{
	font-weight: 3px;
}
#value1
{
	margin-left: 20px;
}
#value2
{
	margin-left: 10px;
}
#value3
{
	margin-left: 10px;
}
#value4
{
	margin-left: 10px;
	margin-bottom: 50px;
}
#thevalue
{
	position: absolute;
	text-shadow: 5px 5px 1.5px black;
	width: 100px;
	font-size: 10px;
}
#thevalue:hover
{
	opacity: 0.7;
}
#button
{
	background-color: blue;
	color: gray;
	text-shadow: 3px 3px 1.5px black;
	box-shadow: 3px 3px 1.5px black;
	margin-top: 100px;
	width: 100px;
	position: absolute;
	top: 360px;
	right: 60px;
}
#button:hover
{
	color: white;
	opacity: 0.7;
}
#menu
{
	width: 1200px;
	margin-top: 50px;
	margin-left: 15px;
	border: 2px outset black;
	border-radius: 10px;
	height: 70px;
	box-shadow: 5px 5px 1.5px black;
	
}
#choice1
{
	margin-left: 20px;
	text-shadow: 5px 5px 1.5px black;
	border: 2px solid black;
	background-color: blue;
	box-shadow: 5px 5px 1.5px black;
	width: 150px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
	border-radius: 10px;
	
	
}
#choice2
{
	margin-left: 200px;
	text-shadow: 5px 5px 1.5px black;
	border: 2px solid black;
	background-color: blue;
	box-shadow: 5px 5px 1.5px black;
	height: 50px;
	margin-bottom: 5px;
	position: absolute;
	top: 240;
	text-align: center;
	border-radius: 10px;
}
#testechoice1
{
	margin-right: 5px;
}
#textechoice2
{
	margin-right: 5px;
}
#choice1:hover
{
opacity: 0.7;
}
#choice5:hover {
	opacity: 0.7;
}
#choice2:hover
{
	opacity: 0.7;
}
#choice4
{
	margin-left: 560px;
}
.choice
{
	margin-left:380px;
	text-shadow: 5px 5px 1.5px black;
	border: 2px solid black;
	background-color: blue;
	box-shadow: 5px 5px 1.5px black;
	height: 50px;
	margin-bottom: 5px;
	position: absolute;
	top: 240;
	width: 150px;
	text-align: center;
	border-radius: 10px;
}
.choice:hover
{
	opacity: 0.7;
}
#choice5 {
	margin-left: 735px;
	text-shadow: 5px 5px 1.5px black;
	border: 2px solid black;
	background-color: blue;
	box-shadow: 5px 5px 1.5px black;
	height: 50px;
	margin-bottom: 5px;
	position: absolute;
	top: 240;
	width: 150px;
	text-align: center;
	border-radius: 10px;
}
#finder
{
	margin-left: 912px;
	position: absolute;
	top: 257px;
}
#valide
{
	background-color: blue;
	color: white;
	border: 2px solid black;
	box-shadow: 2px 2px 1.5px black;
	width: 100px;
	height: 30px;
	margin-left: 20px;
}
#cherche
{
	width: 150px;
	height: 30px;
}
.page
{
	border: 3px solid black;
	border-radius: 10px;
	width: 1200px;
	box-shadow: 5px 5px 1.5px blue;
	height: 55px;
}
.pageentour
{
	text-align: center;
	border: 3px solid black;
	width: 50px;
	border-radius: 10px;
	background-color: blue;
	margin-bottom: 5px;
	margin-top: 10px;
}
.pageentour:hover
{
	
}
footer
{
	margin-top: 40px;
	margin-left: 15px;
	postion: absolute;
	top: 1200px;
}
#entetearraway
{
	color: white;
	margin-left: 25px;
}
#entetearrawaytext
{
	border: 3px solid black;
	border-radius: 10px;
	background-color: blue;
	height: 50px;
	text-align: center;
	width: 170px;
	box-shadow: 3px 3px 1.5px black;
	font-size: 15px;
}
#entetearrawaytext:hover
{
	opacity: 0.7;
}
iframe
{
	margin-left: 350px;
	margin-bottom: 100px;
	margin-top: 100px;
}
#page2nd
{
	margin-left: 80px;
}
#pagepage
{
	margin-left: 10px;
}
.allchoice
{
	position: absolute;
	bottom: 10px;
}
#page3nd
{
	margin-left: 150px;
}
#page4nd
{
	margin-left: 220px;
}
#page5nd
{
	margin-left: 290px;
}
#page6nd
{
	margin-left: 360px;
}
#page7nd
{
	margin-left: 430px;
}
#page8nd
{
	margin-left: 500px;
}
#page9nd
{
	margin-left: 570px;
}
#page10nd
{
	margin-left: 640px;
}
#page11nd
{
	margin-left: 710px;
}
#page12nd
{
	margin-left: 780px;
}
#page13nd
{
	margin-left: 850px;
}
#page14nd
{
	margin-left: 920px;
}
#page15nd
{
	margin-left: 990px;
}
#page16nd
{
	margin-left: 1060px;
}
#page17nd
{
	margin-left: 1130px;
}
.categorie
{
	margin-top: 10px;
	position: absolute;
	left: 60px;
}
.article
{
	margin-top: 30px;
	border: 5px solid black;
	border-radius: 10px;
	width: 1200px;
	box-shadow: 2px 2px 1.5px black;
	text-align: center;
	
}
.text1
{
	font-size: 20px;
}
#motdepasse
{
	height: 150px;
	width: 200px;
	border: 5px solid black;
	margin-left: 1250px;
	margin-top: 200px;
	border-radius: 10px;
	box-shadow: 3px 3px 1.5px black;
}
.pass
{
	margin-left: 20px;
	margin-top: 35px;
}
#buton
{
	width: 50px;
	margin-left: 50px;
	margin-top: 10px;
	background-color: blue;
	color: gray;
}
input[type='range'] {
		-webkit-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: #999;
		height: 10px;
		vertical-align: middle;
	}
	input[type='range']::-moz-range-track {
		-moz-appearance: none;
		border-radius: 5px;
		box-shadow: inset 0 0 5px #333;
		background-color: #999;
		height: 10px;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none !important;
		border-radius: 20px;
		background-color: #FFF;
		box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
		border: 1px solid #999;
		height: 20px;
		width: 20px;
	}
	input[type='range']::-moz-range-thumb {
		-moz-appearance: none;
		border-radius: 20px;
		background-color: #FFF;
		box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
		border: 1px solid #999;
		height: 20px;
		width: 20px;
	}
	.com
	{
		font-size: 120px;
		color: blue;
	}
	#notexist
	{
		color: blue;
	}
